* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}
.container-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0px 90px 0px;
}
.heading-about {
  color: #61dafb;
  font-size: 3rem;
  font-weight: 900;
  margin-top: 0;
}
.para-about {
  margin-top: 15px;
  width: 80%;
  color: white;
  font-size: 1.6rem;
  font-weight: 300;
}
